/* basic styles start */
*,
::after,
::before {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

@media screen and (max-width: 767px) {
    .section {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media screen and (min-width: 768px) {
    .section {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.container {
    padding-left: 15px;
    padding-right: 15px;
}

/* basic styles end */


.page-wrap {
    display: flex;
    flex-direction: row-reverse;
}

@media screen and (max-width: 767px) {
    .sidebar {
        display: none;
    }

    .main-wrap {
        width: 100%;
    }

    .header,
    .footer {
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .sidebar {
        height: 100vh;
        overflow-y: auto;
        width: 20%;
        background-color: antiquewhite;
        border: 5px solid rgb(189, 188, 188);
    }

    .main-wrap {
        width: 80%;
    }

    .header,
    .footer {
        width: 80%;
    }
}

.header {
    position: fixed;
    top: 0;
    background-color: rgb(38, 168, 59);
    border: 5px solid rgb(31, 136, 48);
}

.footer {
    position: fixed;
    bottom: 0;
    background-color: rgb(233, 78, 31);
    border: 5px solid rgb(209, 70, 28);
}


.header__content,
.footer__content {
    text-align: center;
    font-size: 24px;
    color: floralwhite;
}

.main {
    overflow-y: auto;
    height: 100vh;
    background-color: rgb(159, 47, 187);
    border-left: 5px solid rgb(120, 35, 141);
    border-right: 5px solid rgb(120, 35, 141);
}

@media screen and (max-width: 767px) {
    .main {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

@media screen and (min-width: 768px) {
    .main {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

.list {
    display: flex;
    flex-direction: column;
}

.list__item {
    display: block;
    width: fit-content;
    text-align: center;
    padding: 10px 12px;
    background-color: rgb(220, 220, 0);
    border: 5px solid rgb(190, 190, 0);
    font-size: 18px;
    color: black;
}

.list__item:nth-child(2n) {
    margin-left: auto;
}

.list__item+.list__item {
    margin-top: 20px;
}